
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
#container{
  width: 100%;
  height: 100vh;
  max-height: 90vh;
  background-size: 80vw 85vh;
  background-repeat: no-repeat;
}
#container #detailsContainer{
  width: 50%;
  margin: 5vh auto;
}

#detailsContainer h1{
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3vw;
}
#detailsContainer input{
  font-size: 2vw;
  padding: 1vh;
  width: 100%;
  outline: none;
  border: .4vh solid;
  border-radius: 1vh;
  position: relative;
}
.fa-magnifying-glass {
  position: absolute;
  font-size: 2.5vw;
  left: 70%;
  cursor: pointer;
}

#weatherContainer{
  width: 70%;
  margin: auto;
  height: 60vh;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#weatherContainer .fa-solid{
  font-size: 3.5vw;
}

#weatherContainer div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#weatherContainer span{
  font-size: 2.5vw;
  margin-left: 2vw;
}